.banner{
    position: relative;
    background-position: center;
    background-size: cover;
    padding-inline: 2rem;
    background-image: url("home_cover.png");
    min-height: 140px;
    margin: auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: 2rem;
    max-width: 100%;
}


.banner::before {
    position: absolute;
    content: "";
    inset: 0;
    opacity: 0.5;
    border-radius: 2rem;
}